.ci-arrow {
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.ci-rating_star {
  cursor: pointer;
  fill: #ccc;
  display: inline;
}

.ci-rating:hover .ci-rating_star,
.ci-rating_star--active {
  fill: gold;
}

.ci-rating_star:hover ~ .ci-rating_star {
  fill: #ccc;
}
